.butaodeOpcoes{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5%;
    margin: auto;
    width: 50px;
    height: 50px;
    background-color: #000;
    border-radius: 50%;
    box-shadow: 1px 3px 6px black;
    z-index: 9999;
}
@media (max-width: 900px) and (max-height: 500px){
    .butaodeOpcoes{
        right: 5%;
        width: 38px;
        height: 38px;
    }
}
.areaTIRA{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.tira{
    width: 90%;
    height:10%;
    margin: 3% 0 3% 0;
    background-color: #666;
    border-radius: 10px;
}
.butaodeOpcoes, .areaTIRA, .tira:hover{
    cursor: pointer;
}
.opcoes{
    position: fixed;
    top: 0;
    right: 0;
    width: 50%; /* Faz o elemento ter a largura da viewport */
    height: 100vh; /* Faz o elemento ter a altura da viewport */
    background-color: #222e; /* Exemplo de fundo */
    display: none;
}
.nave{
    z-index: 99;
    width: 100%;
    height: 90%;
    left: 0;
    right: 0;
    margin: auto;
    top: 10%;
    border-radius: 10px;
    position: absolute;
}
.navArea{   
    width: 90%;
    height: 98%;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 0;
    right:0;
    display: flex;
}